################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Dotnet.Kafka
/src/Dotnet.Kafka.Consumer/obj
/src/Dotnet.Kafka.Producer/obj
